# IGNORE EVERYTHING
*
*.pyc

# EXCEPTIONS (files you want to track)
!/.gitignore
!Analysis_2.py
!README.md
!Images/
!Images/**
!Timing.py
!Amplitude.py
!Charge_collection.py

# Allow the LGAD_ANALYSIS folder
!LGAD_ANALYSIS/
!LGAD_ANALYSIS/**
!CASSIA_ANALYSIS/
!CASSIA_ANALYSIS/**

# BUT ignore its Data subfolder
LGAD_ANALYSIS/Data/
LGAD_ANALYSIS/Data/**
LGAD_ANALYSIS/__pycache__/
LGAD_ANALYSIS/__pycache__/**
LGAD_ANALYSIS/saved_results/
LGAD_ANALYSIS/saved_results/**
CASSIA_ANALYSIS/Data/
CASSIA_ANALYSIS/Data/**

# report tex
!report/
report/**
report/.vscode
!report/images/
!report/images/**
!report/main.tex
!report/0d intro.tex
!report/1 chapter 1.tex
!report/2 chapter 2.tex
!report/3 chapter 3.tex
!report/appendix.tex
!report/conclusion.tex
!report/logo_ULB2.pdf
!report/PageDeGarde.tex
!report/preamble.sty
!report/references.bib
!report/uzh-logo-black.png