# IGNORE ALL
*

# NOT TO IGNORE
!/.gitignore
!Analysis_2.py
!README.md
!Images/
!Images/**
!Timing.py
!Amplitude.py
!Charge_collection.py
!LGAD_ANALYSIS/
!LGAD_ANALYSIS/**
!CASSIA_ANALYSIS/
!CASSIA_ANALYSIS/**
