# IGNORE EVERYTHING
*

# EXCEPTIONS (files you want to track)
!/.gitignore
!Analysis_2.py
!README.md
!Images/
!Images/**
!Timing.py
!Amplitude.py
!Charge_collection.py

# Allow the LGAD_ANALYSIS folder
!LGAD_ANALYSIS/
!LGAD_ANALYSIS/**

# BUT ignore its Data subfolder
LGAD_ANALYSIS/Data/
LGAD_ANALYSIS/Data/**
